<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="kit_kat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="libs" />
      </assemblyBinding>
    </runtime>
    <userSettings>
        <kit_kat.Properties.Settings>
            <setting name="tScale" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PriorityFactor" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="QOSValue" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="ScreenPriority" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Quality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="BatchFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bScale" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="ShowConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastUpdate" serializeAs="String">
                <value />
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="updateSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </kit_kat.Properties.Settings>
    </userSettings>
</configuration>
